<form {{action "save" on="submit"}}>
  <h2>{{errorMessage}}</h2>
  <p>
    <label>
      First Name: {{input value=model.firstName}}
    </label>
  </p>
  <p>
    <label>
      Last Name: {{input value=model.lastName}}
    </label>
  </p>
  <p>
    <label>
      Email Name: {{input value=model.email}}
    </label>
  </p>
  <p>
    <label>
      Twitter Name: {{input value=model.twitter}}
    </label>
  </p>
  <input type="submit" value="Save">
  <button {{action "cancel"}}>Cancel</button>
</form>
