<ul>
  <li>First Name: {{model.firstName}}</li>
  <li>Last Name: {{model.lastName}}</li>
  <li>Email: {{model.email}}</li>
  <li>Twitter: {{model.twitter}}</li>
  <li>{{link-to "Edit info" "friends.edit" model}}</li>
  <li><a href="#" {{action "delete" model}}>Delete</a></li>
</ul>

{{link-to "Back to Friends List" "friends"}}
